body{
    text-align:center;
    background-color:yellowgreen;
}

#heading{
    
}

#para{
    color:brown;
    font-family:lucida handwriting;
    font-style:italic;
    font-size:20px;
}